
/* Set default styles for the whole page */
 * {
  box-sizing: border-box;
}
body {
  margin: 50px;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 10px 5px 00px;
  height: 70px;
  background-color:rgb(218, 151, 151);
  color:brown

}

header h1 {
  margin: 0;
  padding: 5px 1% 5px 6%;
  
}

nav a {
  text-decoration: none;
  margin-right: 10px;
  padding: 5px 10 px;

}


/* Style for the banner */
.hero-banner {
  background-image: url("./Images/banner.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

    
.hero-banner {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  
}
      


.hero-banner h2 {
  font-size: 30px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.photo {
  background-image: url("./Images/Musleha\ Pic.jpg");
  background-size: cover;
  height: 150px;
  width: 150px;
  border-radius: 100%;
  position: relative;
  top: 100px;
  bottom: 20px;
  left: 50px;
  border: 1px solid purple
}  
  
  /* Style the main content */

main {
  margin-top: 20px;
  margin-bottom: 50px;
}

.page-wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin-top: 50px;
}


.page-section {
  margin: 50px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.page-section h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 10px;
  font-size: 4vw;
  line-height: 1.1;
  border-right: 10px solid rgb(78, 42, 78)
} 

.page-section div {
  flex: 0 0 77%;
    
}

.flex-container {
  /* background-color: beige; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  
}

.flex-item:first-child {
  min-height: 500px;
  flex-basis: 100%;
}


.flex-container > div {
  display: flex ;
  flex-wrap: wrap;
  justify-content: center;
}


.flex-item {

  /* display: flex;
  text-decoration: none;
  align-items: flex-end;
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50%-1em); */

  background-size:100%;
  background-blend-mode:overlay;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333;
  text-align: left;
  text-decoration: none;
  min-height: 200px;
  max-height: 2000px;
  width: calc(50% - 20px);
  margin-bottom: 20px;
  border: 3px solid #e09fcd;
  
}


